<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Link-Creator</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">

        <h1>Please enter your link:</h1>

        <form name="userLink" action="#" th:action="@{/}" th:object="${link}" method="POST">
            <br/>
            <textarea rows="5" cols="60" name="user-link" th:field="*{userLink}"></textarea>
            <br/>
            <button type="submit">Create Link</button>
            <button onclick="copyToClipboard()">Copy to clipboard</button>
        </form>

        <br/>
        <textarea id="createdLink" name="createdLink" rows="5" cols="60" th:text="${link.createdLink}"></textarea>
    </div>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script>
function copyToClipboard() {
  var copyText = document.getElementById("createdLink");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
}
</script>

</body>
</html>